.mediaViewInfo {
	--web-view-name: programming;
	--web-view-id: programming;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: fit;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: programming;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#programming {
	position: relative;
	width: 1920px;
	height: 1080px;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	--web-view-name: programming;
	--web-view-id: programming;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: fit;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
@keyframes fadein {

	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}

}
#background_bl {
	position: absolute;
	width: 1920px;
	height: 1080px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#MainContent_bm {
	position: absolute;
	width: 1602.89px;
	height: 716px;
	left: 148.645px;
	top: 200px;
	overflow: visible;
}
#background_bn {
	filter: blur(30px);
	fill: rgba(255,255,255,1);
}
.background_bn {
	position: absolute;
	overflow: visible;
	width: 1602.891px;
	height: 716px;
	left: 0px;
	top: 0px;
}
#n_Programming {
	left: 480.355px;
	top: 304px;
	position: absolute;
	overflow: visible;
	width: 663px;
	white-space: nowrap;
	text-align: center;
	font-family: HGPSoeiKakugothicUB;
	font-style: normal;
	font-weight: normal;
	font-size: 72px;
	color: rgba(221,221,221,1);
}
#Header_bp {
	position: absolute;
	width: 1799.845px;
	height: 100px;
	left: 49.548px;
	top: 55px;
	overflow: visible;
	padding: 0px;
}
#HeaderBackground_bq {
	filter: blur(30px);
	fill: rgba(255,255,255,1);
}
.HeaderBackground_bq {
	position: absolute;
	overflow: visible;
	width: 1799.845px;
	height: 100px;
	left: 0px;
	top: 0px;
}
#Aboutme_Header_br {
	position: absolute;
	width: 359.226px;
	height: 70px;
	left: 1440.619px;
	top: 15px;
	overflow: visible;
	--web-animation: fadein 0.30000001192092896s ease-out;
	--web-action-type: page;
	--web-action-target: aboutme.html;
	cursor: pointer;
}
#About_bs {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.About_bs {
	position: absolute;
	overflow: visible;
	width: 359.226px;
	height: 70px;
	left: 0px;
	top: 0px;
}
#About_me_bt {
	left: 105.613px;
	top: 17px;
	position: absolute;
	overflow: visible;
	width: 149px;
	white-space: nowrap;
	text-align: center;
	font-family: HGPSoeiKakugothicUB;
	font-style: normal;
	font-weight: normal;
	font-size: 36px;
	color: rgba(112,112,112,1);
}
#CG_Header_bu {
	position: absolute;
	width: 359.226px;
	height: 70px;
	left: 1040.516px;
	top: 15px;
	overflow: visible;
	--web-animation: fadein 0.30000001192092896s ease-out;
	--web-action-type: page;
	--web-action-target: CG.html;
	cursor: pointer;
}
#CG_bv {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.CG_bv {
	position: absolute;
	overflow: visible;
	width: 359.226px;
	height: 70px;
	left: 0px;
	top: 0px;
}
#Computer_Graphics_bw {
	left: 29.113px;
	top: 13.5px;
	position: absolute;
	overflow: visible;
	width: 301px;
	white-space: nowrap;
	text-align: center;
	font-family: HGPSoeiKakugothicUB;
	font-style: normal;
	font-weight: normal;
	font-size: 36px;
	color: rgba(112,112,112,1);
}
#Programming_Header_bx {
	position: absolute;
	width: 359.226px;
	height: 70px;
	left: 640.413px;
	top: 15px;
	overflow: visible;
}
#Programming_by {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Programming_by {
	position: absolute;
	overflow: visible;
	width: 359.226px;
	height: 70px;
	left: 0px;
	top: 0px;
}
#Programming_bz {
	left: 79.613px;
	top: 17px;
	position: absolute;
	overflow: visible;
	width: 201px;
	white-space: nowrap;
	text-align: center;
	font-family: HGPSoeiKakugothicUB;
	font-style: normal;
	font-weight: normal;
	font-size: 36px;
	color: rgba(112,112,112,1);
}
#TopLogo_b {
	position: absolute;
	width: 199.432px;
	height: 100px;
	left: 0px;
	top: 0px;
	overflow: visible;
	--web-animation: fadein 0.30000001192092896s ease-out;
	--web-action-type: page;
	--web-action-target: index.html;
	cursor: pointer;
}
#Top_Header_b {
	position: absolute;
	width: 199.432px;
	height: 100px;
	left: 0px;
	top: 0px;
	overflow: visible;
}